body {
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #363636;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 2em 20%;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em 4em;
  margin: .5em;
  background-color: #fdfdfd;
  border-radius: .5em;
  box-shadow: .25em .25em .5em rgba(174, 174, 174, 0.2);
}

.center-content {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  justify-content: flex-start;
}

h1 {
  font-size: 2em;
  margin: .25em 0;
}

h3 {
  font-size: 1em;
  margin: .25em 0;
}

h5 {
  font-size: 1em;
  font-weight: lighter;
  margin: .25em 0;
}

label {
  font-size: 1em;
  font-weight: lighter;
  margin: .25em .25em;
}

label div {
  margin: .5em 0 .25em;
}

label div div {
  margin: 0;
}

p {
  font-size: 1em;
  font-weight: lighter;
  margin: 1.5em 0 .5em;
}

@media only screen and (max-width: 750px) {
  #app {
    margin: .5em;
  }

  .component-wrapper {
    padding: .5em;
    min-width: 25%;
  }

  svg text {
    font-size: 1.5vw;
  }

  h1 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 1em;
  }
  
  h5 {
    font-size: 1em;
  }
  
  label {
    font-size: 1em;
  }

}
